/* HTML and Body Styles */

html {
    background-color: bisque;
}

body {
    color: black;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Heading Styles */

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    font: 'Georgia';
}

article.syllabus h1, article.syllabus h2 {
    background-color: rgb(255, 185, 255);
    color: rgb(101, 101, 101);
}
/* Navigation Styles */	

nav {
    font-size: 0.8em;
}

/* Footer Styles */

footer address {
    background-color: bisque;
    color: aliceblue;
    font-size: small-caps bold 0.9em/3em Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}